<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
     {{title}}!!
  </h1>
</div>

<div>
  <h1>Join the community</h1>
  <div>
    <button (click) = "login()" *ngIf="!(user | async)?.uid">Login as a free user</button>
    <!--<a (click)= "">Register</a>-->
    <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  </div>
</div>

<div>
  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
    <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>
</div>


